@import "../iconfont/iconfont.css";
html {
  //font-size : calc(100vw/3.75);
  margin: 0;
  padding: 0;
}
body {
  background-color : #fff;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact:after{
  display : none;
}

//自定义间距
.mt-10{
  margin-top: 10px;
}

