.nav-panel {
  position: absolute;
  top: 3vw;
  left: 6vw;
  z-index: 100;
  width: 87.8vw;
  height: 13vw;
  background-color: #1CCCC6;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 10vw;
    color: #ffffff;
  }
  span {
    font-size: 4.8vw;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #fff;
  }
}